{% include "base.html"%} {% block main %}
<div class="container">
  <form method="GET" action="{{ url_for('shift_create') }}">
    <h3>
     Schichte
      <button class="btn btn-primary mb-2" type="submit" name="create" id="create" {% if permissions.create_shift == False %}disabled{%endif%}>
        <i class="bi bi-plus"></i>
      </button>
    </h3>
  </form>

  <div id="calendar"></div>
  <p style="float: right"><a href="#" id="icsdownload">iCal-Format herunterladen</a></p> 
  
<script>
		let events = []
		let cal = ics()
		let button = document.getElementById("icsdownload");

        let calendarEl = document.getElementById("calendar");
        let calendar = new FullCalendar.Calendar(calendarEl, {
        	headerToolbar: {
            	left:'prev,next today',
            	center:'title',
        	    right: 'timeGridDay,timeGridWeek,dayGridMonth,listMonth',
        	  },
        	locale: 'de-ch',
        	editable:true,
        	buttonText:{
					day:'Tag',
					month:'Monat' ,
					week: 'Woche',
					list: 'Liste',
					today: 'Heute',
            	},
            events: [
                {% for shift in shifts %}
                {
                    title: '{{shift.stype.value}}',
                    start : '{{shift.start}}',
                    end : '{{shift.end}}',
                    url: 'edit/{{shift.id}}'
                },
                {% endfor %}
            ]})

        {% for shift in shifts %}
		events.push({
            title: '{{shift.stype.value}}',
            start : '{{shift.start}}',
            end : '{{shift.end}}',
            description: '{{shift.status.value}}'
        })
        {% endfor %}
        calendar.render()
		events.forEach(function(event,i){
			cal.addEvent(event.title, event.description, '', event.start, event.end);
			})
		button.addEventListener("click", function(){
			cal.download('shifts_export', '.ics');
			})
    </script>
</div>

{% endblock %} 
